# Django
DJANGO_SECRET_KEY=piazdagh-alihidson-jafarzadeh
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

# PostgreSQL
POSTGRES_DB=piazdagh
POSTGRES_USER=piazdagh_user
POSTGRES_PASSWORD=alihidson12345
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Frontend origins allowed to call Django API
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
